{% extends 'base.html.twig' %}

{% block title %}Hello GameController!{% endblock %}

{% block body %}
    <h1>Bataille Navale !</h1>

    <hr>

    <table>
        {% for i in 0..9 %}
            <tr>
                {% for j in 0..9 %}
                    <td>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}
